APP_NAME=AI Knowledge Platform
APP_ENV=development
APP_VERSION=1.0.0

# -----------------------------
# GitHub Models
# -----------------------------
OPENAI_API_KEY=
OPENAI_BASE_URL=https://models.github.ai/inference
OPENAI_MODEL=openai/gpt-4.1-mini

# -----------------------------
# Embedding Model
# -----------------------------
EMBEDDING_MODEL=openai/text-embedding-3-large

# -----------------------------
# MongoDB
# -----------------------------
#MONGO_URI=mongodb://localhost:27017
MONGO_URI=
MONGO_DB=rag_learning

# -----------------------------
# PostgreSQL
# -----------------------------
POSTGRES_HOST=localhost
POSTGRES_PORT=5432
POSTGRES_DB=knowledge_db
POSTGRES_USER=postgres
POSTGRES_PASSWORD=

# -----------------------------
# Qdrant
# -----------------------------
QDRANT_URL=
QDRANT_API_KEY=
COLLECTION_NAME=documents




