fastapi
uvicorn
python-dotenv
pydantic-settings
pydantic
openai
langchain
langchain-openai
pymongo
psycopg
pypdf
python-docx
markdown
sqlalchemy
alembic
langchain-text-splitters
langchain-openai
openai
qdrant-client
langchain-core