fastapi
uvicorn
python-dotenv
pydantic-settings
openai
langchain
langchain-openai
qdrant-client
pymongo
psycopg
pypdf
python-docx
markdown
sqlalchemy
alembic
langchain-text-splitters
langchain-openai
openai
qdrant-client